<polymer-element>
  <template>
    <style></style>
    <style>
      app-alternating-gate {
        min-height: 3rem;
      }
    </style>
    <div></div>
  </template>
  <script>
    Polymer("alternating-gate", {
      ready: function () {
        this.ceci({
          broadcasts: ["A","B","C","D","E"],
          defaultBroadcasts: ["A"],
          defaultListeners: ["input"],
          editable: {
          },
          listeners: {
            input: function (value, channel) {
              var activeBroadcasts = [];
              Array.prototype.forEach.call(this.querySelectorAll("broadcast"), function(broadcast) {
                activeBroadcasts.push(broadcast.getAttribute("from"));
              });
          
              var nextBroadcast = activeBroadcasts.indexOf(this.lastBroadcast) + 1;
              nextBroadcast %= activeBroadcasts.length;
          
              nextBroadcast = activeBroadcasts[nextBroadcast];
          
              this.broadcast(nextBroadcast, value);
              this.lastBroadcast = nextBroadcast
            }
          },
          friends: ["app-camera","app-simple-image"],
          thumbnail: "<img src="{{ASSET_HOST}}/assets/images/thumbnails/app-component-template.png" />",
          description: "A component template to get you started remixing your own components.",
          tags: ["alternating-gate.html"]
        });
      },
      
    });
  </script>
</polymer-element>