<element name="app-atul">
  <template>
    <img src="https://lh5.googleusercontent.com/--9SsG6UFdAg/AAAAAAAAAAI/AAAAAAAAAMo/VKTHjlmdHco/photo.jpg">
    <p data-what-atul-says></p>
  </template>
  <description>Example for Atul</description>
  <thumbnail>
    <img src="https://lh5.googleusercontent.com/--9SsG6UFdAg/AAAAAAAAAAI/AAAAAAAAAMo/VKTHjlmdHco/photo.jpg">
  </thumbnail>
  <tags>atul</tags>
  <script type="text/ceci">
    Ceci(this, {
      init: function (params) {
      },
      editable: {
        saying: {
          type: "text",
          description: "What Atul says",
          postset: function(v) {
            this.querySelector('p[data-what-atul-says]').innerHTML = v;
          }
        }
      },
      listeners: {
        setValue: function (val) {
          this.querySelector('p[data-what-atul-says]').innerHTML = val.toString();
        }
      }
    });
  </script>
</element>
