<polymer-element>
  <template>
    <style>
      app-audio-player audio {
        width: 100%;
      }
    </style>
    <audio controls=""></audio>
  </template>
  <script>
    Polymer("audio-player", {
      ready: function () {
        this.ceci({
          broadcasts: [],
          defaultBroadcasts: undefined,
          defaultListeners: ["playOrPause"],
          editable: {
            src: {
              type: "text",
              description: "The media source to play.",
              postset: function (val) {
                this.audio.setAttribute('src', val);
                if (this.autoplay){
                  this.play();
                }
              }
            },
            autoplay: {
              type: "boolean",
              description: "When set to true, player will start as soon as src is set.",
              postset: function (val) {
                }
            },
            selectProperty: {
              options: Option 1,Option 2,Option 3,
              type: "select",
              description: "Describe the property that is changing.",
              postset: function (val) {
                this.updateProperty(val);
              }
            },
          },
          listeners: {
            setSrc: function (val) {
              this.src = val;
            }
            play: function (value, channel){
              if (!this.audio.paused){
                this.stop();
              }
              this.audio.play();
            }
            playOrPause: function (value, channel){
              if (this.audio.paused){
                this.play();
              }
              else{
                this.audio.pause();
              }
            }
            stop: function (value, channel){
              if (!this.audio.paused){
                this.audio.pause();
              }
              this.audio.currentTime = 0;
            }
          },
          friends: ["app-fireworks","app-counter"],
          thumbnail: "<img src="{{ASSET_HOST}}/assets/images/thumbnails/app-audio-player.png" />",
          description: "A component that plays sounds and music.",
          tags: ["audio-player.html"]
        });
      },
      
    });
  </script>
</polymer-element>