<element name="app-average-number">
  <template>
    <style>
      app-average-number .average {
        line-height: 3.8rem;
        text-align: center;
        font-size: font-size: 1.6rem;
        font-family: "FiraSans", sans-serif;
        padding: .5rem 0rem;
        color: #666;
        background: #DDD;
      }

      app-average-number .average .average-wrapper {
        background: white;
        padding: .5rem 1rem;
        border-radius: .5rem;
        -moz-border-radius: .5rem;
        border-bottom: solid 1px #CCC;
      }
    </style>

    <div class="average">
      <span class="average-wrapper">Average: <span class="average-number">0</span></span>
    </div>
  </template>
  <description>
    Listens for integers and calculates the average.
  </description>
  <thumbnail>
    <img src="{{ASSET_HOST}}/assets/images/thumbnails/app-average-number.png" />
  </thumbnail>
  <tags>math,numbers</tags>
  <script type="text/ceci">
    Ceci(this, {
      init: function (params) {
        this.count = 0;
        this.avrg = 0;
      },
      updateDisplay: function () {
        this.querySelector('.average-number').innerHTML = Math.round(this.avrg*100)/100;
        this.broadcast("averageValue", this.avrg);
      },
      broadcasts: ["averageValue"],
      defaultBroadcasts: ["averageValue"],
      defaultListener: 'calculateAverage',
      listeners: {
        calculateAverage: function (listener, channel) {
          newValue = parseFloat(listener.value);
          if (isNaN(newValue)){
            this.log("NOT counting up. " + listener.value + " was not a number", channel);
            return false;
          }

          this.avrg = (this.avrg * this.count + newValue) / (this.count + 1);
          this.count++;

          this.updateDisplay();
        },
        resetAverage: function (value, channel) {
          this.count = parseInt(value);
          if (isNaN(this.count)){
            this.count = 0;
            this.avrg = 0;
          }
          this.updateDisplay();
        }
      }
    });
  </script>
</element>
