<polymer-element>
  <template>
    <style>
      app-button .button {
        font-family: "FiraSans", sans-serif;
        cursor: pointer;
        position: relative;
        text-decoration: none;
        outline: none;
        border-top: 1px solid rgba(255,255,255,.3);
        border-bottom: 2px solid rgba(0,0,0,.2);
        background-color: #4DB227;
        text-align: center;
        display: block;
        padding-top: 5px;
        padding-bottom: 3px;
        text-overflow: ellipsis;
        overflow: hidden;
        border-radius: 0.2rem;
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 3.8rem;
        color: #ffffff;
        width: 100%;
        margin: 0;
      }
      
      app-button button {
        border: none;
      }
    </style>
    <div>
      <button class="button">Default</button>
    </div>
  </template>
  <script>
    Polymer("button", {
      ready: function () {
        this.ceci({
          broadcasts: ["click","mouseDown","mouseUp"],
          defaultBroadcasts: ["click"],
          defaultListeners: [],
          editable: {
            buttonLabel: {
              type: "text",
              description: "A text for your label to show up in your app",
              postset: function (v) {
                this.setLabel(v);
              }
            },
            textColor: {
              type: "text",
              description: "The color of the button label",
              postset: function (v) {
                this.setTextColor(v);
              }
            },
            buttonColor: {
              type: "text",
              description: "The color of your button",
              postset: function (v) {
                this.setButtonColor(v);
              }
            },
            buttonActiveColor: {
              type: "text",
              description: "The color of your button",
            },
            value: {
              type: "text",
              description: "Value to be sent with a click.",
              postset: function (v) {
                this.__value = v;
              }
            },
          },
          listeners: {
          },
          friends: ["app-fireworks","app-counter"],
          thumbnail: "<img src="{{ASSET_HOST}}/assets/images/thumbnails/app-button.png" />",
          description: "Broadcasts a "click" when clicked.",
          tags: ["starter","button","click","tap"]
        });
      },
      
    });
  </script>
</polymer-element>