<polymer-element>
  <template>
    <style>
      @import url("../style/fonts.css");
      
      app-counter .counter {
        line-height: 3.8rem;
        text-align: center;
        font-size: font-size: 1.6rem;
        font-family: "FiraSans", sans-serif;
        padding: .5rem 0rem;
        background: #DDD;
        color: #666;
      }
      
      app-counter .counter .count-wrapper {
        background: white;
        padding: .5rem 1rem;
        border-radius: .5rem;
        -moz-border-radius: .5rem;
        border-bottom: solid 1px #CCC;
      }
    </style>
    <div class="counter"> <span class="count-wrapper"><span class="count">0</span><span class="count-label"></span></span>
    </div>
  </template>
  <script>
    Polymer("counter", {
      ready: function () {
        this.ceci({
          broadcasts: ["update"],
          defaultBroadcasts: undefined,
          defaultListeners: ["countUp"],
          editable: {
            countItem: {
              type: "text",
              description: "Name for what you're counting",
              postset: function (v) {
                this.updateDisplay(v);
              }
            },
            incrementBy: {
              type: "number",
              min: 1,
              description: "Count up or down with this number",
              postset: function (v) {
                this.increment = parseInt(v) || 1;
              }
            },
          },
          listeners: {
            countUp: function (listener,channel) {
              this.count = this.count + parseInt(this.increment);
              this.updateDisplay();
            }
            countDown: function (listener,channel) {
              this.count = this.count - parseInt(this.increment);
              this.updateDisplay();
            }
            resetCount: function (value, channel) {
              this.count = parseInt(value);
              if (isNaN(this.count)){
                this.count = 0;
              }
              this.log("resetting counter to " + this.count, channel);
              this.updateDisplay();
            }
          },
          friends: ["app-button"],
          thumbnail: "<img src="{{ASSET_HOST}}/assets/images/thumbnails/app-counter.png" />",
          description: "Listens for a message and counts",
          tags: ["starter","math"]
        });
      },
      
    });
  </script>
</polymer-element>