<polymer-element>
  <template>
    <style></style>
    <div>
      <button class="button">Default</button>
    </div>
  </template>
  <script>
    Polymer("donate-button", {
      ready: function () {
        this.ceci({
          broadcasts: ["click","mouseDown","mouseUp"],
          defaultBroadcasts: ["click"],
          defaultListeners: [],
          editable: {
            buttonLabel: {
              type: "text",
              description: "A text for your label to show up in your app",
              postset: function (v) {
                this.setLabel(v);
              }
            },
          },
          listeners: {
          },
          friends: ["app-fireworks","app-counter"],
          thumbnail: "<img src="{{ASSET_HOST}}/assets/images/thumbnails/app-button.png" />",
          description: "Broadcasts a "click" when clicked.",
          tags: ["donate-button.html"]
        });
      },
      
    });
  </script>
</polymer-element>