<polymer-element>
  <template>
    <style></style>
    <ul class="donate-amount-selector">
      <li>
        <input type="radio" name="donation-amount" value="10" />
        <label>10 CHF</label>
      </li>
    </ul>
  </template>
  <script>
    Polymer("donate-amount-selector", {
      ready: function () {
        this.ceci({
          broadcasts: ["click","mouseDown","mouseUp"],
          defaultBroadcasts: ["click"],
          defaultListeners: [],
          editable: {
            amounts: {
              type: "text",
              description: "List of amounts the user coul choose from",
              postset: function (v) {
                this.buildSelector(v);
              }
            },
            currency: {
              type: "text",
              description: "Currency of the donation amount",
              postset: function (v) {
                this.setCurrency(v);
              }
            },
          },
          listeners: {
          },
          friends: [""],
          thumbnail: "<img src="{{ASSET_HOST}}/assets/images/thumbnails/app-button.png" />",
          description: "Lets a user choose an amount",
          tags: ["donate-amount-selector.html"]
        });
      },
      
    });
  </script>
</polymer-element>