<polymer-element>
  <template>
    <style></style>
    <style type="text/css">
      app-fireworks {
        background-color: #0e1012;
        display: inline-block;
      }
    </style>
    <canvas class="fireworks-canvas">Canvas is not supported in your browser.</canvas>
  </template>
  <script>
    Polymer("fireworks", {
      ready: function () {
        this.ceci({
          broadcasts: ["kaboom"],
          defaultBroadcasts: undefined,
          defaultListeners: ["shootRocket"],
          editable: {
            fireworkSound: {
              type: "text",
              description: "Tell the fireworks what to broadcast every shot.",
            },
          },
          listeners: {
            shootRocket: function (count, channel) {
              this.log("launching rocket", channel);
              this.launchRocket();
            }
            shootThisManyRockets: function (count, channel) {
              var intRegex = /^\d+$/;
              if (intRegex.test(count)) {
          
                var n = Number(count);
                if (n > 15){
                  n = 15;
                  this.log("launching " + n + " (max) rockets", channel);
                }
                else{
                  this.log("launching " + n + " rockets", channel);
                }
                for (var i=0; i < n; i++) {
                  this.launchRocket();
                }
              } else {
                this.launchRocket();
                this.log("launching rocket", channel);
              }
            }
          },
          friends: ["app-button"],
          thumbnail: "<img src="{{ASSET_HOST}}/assets/images/thumbnails/app-fireworks.png" />",
          description: "Shows firework show",
          tags: ["animated","starter","fun"]
        });
      },
      
    });
  </script>
</polymer-element>