<polymer-element>
  <template>
    <style></style>
    <style type="text/css">
</style>
     <h1><span class="form-title">Form Title</span>    <a class="add-field" href="#">Add Field</a></h1>

    <div class="new-field">
      <input type="text" placeholder="Field Name" /><a href="#">ADD</a>
    </div>
    <div class="form-items"></div>
    <div>
      <button class="button">Default</button>
    </div>
  </template>
  <script>
    Polymer("form_two", {
      ready: function () {
        this.ceci({
          broadcasts: ["send"],
          defaultBroadcasts: ["send"],
          defaultListeners: [],
          editable: {
            formTitle: {
              type: "text",
              description: "A text for your label to show up in your app",
              postset: function (v) {
                this.setTitle(v);
              }
            },
            formFields: {
              type: "multiple",
              description: "Menu Options",
              postset: function (v) {
                this.buildForm(v);
              }
            },
            buttonLabel: {
              type: "text",
              description: "A text for your label to show up in your app",
              postset: function (v) {
                this.setLabel(v);
              }
            },
            textColor: {
              type: "text",
              description: "The color of the button label",
              postset: function (v) {
                this.setTextColor(v);
              }
            },
            buttonColor: {
              type: "text",
              description: "The color of your button",
              postset: function (v) {
                this.setButtonColor(v);
              }
            },
          },
          listeners: {
          },
          friends: ["app-fireworks","app-counter"],
          thumbnail: "<img src="{{ASSET_HOST}}/assets/images/thumbnails/app-form-two.png" />",
          description: "When clicked broadcasts a "click" message",
          tags: ["form","data"]
        });
      },
      
    });
  </script>
</polymer-element>