<polymer-element>
  <template>
    <style></style>
    <div class="checker">
      <div class="checks">
        <div class="check-item">
          <select>
            <option selected="selected" value="greaterThan">Greater than</option>
            <option value="greaterEqual">Greater than or equal to</option>
            <option value="equal">Equal to</option>
            <option value="notEqual">Not equal to</option>
            <option value="lessEqual">Less than or equal to</option>
            <option value="lessThan">Less than</option>
          </select>
          <input type="number" class="check-against" value="3" />
        </div>
        <select class="boolean-type">
          <option selected="selected" value="and">and</option>
          <option value="or">or</option>
        </select>
        <div class="check-item">
          <select>
            <option selected="selected" value="greaterThan">Greater than</option>
            <option value="greaterEqual">Greater than or equal to</option>
            <option value="equal">Equal to</option>
            <option value="notEqual">Not equal to</option>
            <option value="lessEqual">Less than or equal to</option>
            <option value="lessThan">Less than</option>
          </select>
          <input type="number" class="check-against" value="3" />
        </div>
      </div>
    </div>
  </template>
  <script>
    Polymer("if-then-block", {
      ready: function () {
        this.ceci({
          broadcasts: ["yes","no"],
          defaultBroadcasts: ["yes"],
          defaultListeners: ["checkNumber"],
          editable: {
            successMessage: {
              type: "text",
              description: "Send when number passes the criteria.",
              postset: function (v) {
                }
            },
            failureMessage: {
              type: "text",
              description: "Message to send when number doesn't pass.",
              postset: function (v) {
                }
            },
          },
          listeners: {
            checkNumber: function (listener,channel) {
              this.incomingNumber = parseInt(listener) || false;
              this.checkTheNumber();
            }
          },
          friends: [""],
          thumbnail: "<img src="{{ASSET_HOST}}/assets/images/thumbnails/app-fancy-number-checker.png" />",
          description: "Checks if a number meets a certain criteria and send a custom succcess or failure message.",
          tags: ["logic","math"]
        });
      },
      
    });
  </script>
</polymer-element>