<polymer-element>
  <template>
    <style>
      app-justgiving-donate .button {
        font-family: "FiraSans", sans-serif;
        cursor: pointer;
        position: relative;
        text-decoration: none;
        outline: none;
        border-top: 1px solid rgba(255,255,255,.3);
        border-bottom: 2px solid rgba(0,0,0,.2);
        background-color: #4DB227;
        text-align: center;
        display: block;
        padding-top: 5px;
        padding-bottom: 3px;
        text-overflow: ellipsis;
        overflow: hidden;
        border-radius: 0.2rem;
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 3.8rem;
        color: #ffffff;
        width: 100%;
        margin: 0;
        margin-bottom: 5px;
      }
      
      app-justgiving-donate button {
        border: none;
      }
      
      app-justgiving-donate h1 {
        margin-bottom: 10px;
      }
      
      app-justgiving-donate p.logos {
        text-align: center;
        font-style: italic;
      }
      
      app-justgiving-donate p.logos img {
        max-width: 95%;  
      }
    </style>
    <div>
       <h1 id="donationAsk">I'm going to donate</h1> 
      <button class="button" id="button01" value=""></button>
      <button class="button" id="button02" value=""></button>
      <button class="button" id="button03" value=""></button>
      <button class="button" id="button04" value="0">Choose my amount</button>
      <p>You will be taken to JustGiving.com, where you can donate securely to
        my fundraising appeal.</p>
      <p class="logos">
        <img src="{{ASSET_HOST}}/assets/images/justgiving-with-pp-logo.jpg" />
        <br />Please give all you can.</p>
    </div>
  </template>
  <script>
    Polymer("justgiving-donate", {
      ready: function () {
        this.ceci({
          broadcasts: [],
          defaultBroadcasts: undefined,
          defaultListeners: [],
          editable: {
            yourJustGivingPageName: {
              type: "text",
              description: "You can get this from you Just Giving fundraising url justgiving.com/your-page-name-is-here",
              postset: function (v) {
                }
            },
            donateMessage: {
              type: "text",
              description: "Set you own message asking for donations",
              postset: function (v) {
                this.querySelector("#donationAsk").innerHTML = v;            
              }
            },
            donationAmount01: {
              type: "number",
              description: "Lowest suggested donation amount",
              postset: function (v) {
                this.querySelector("#button01").innerHTML = "£" + v;            
                this.querySelector("#button01").value = v; 
              }
            },
            donationAmount02: {
              type: "number",
              description: "Middle suggested donation amount",
              postset: function (v) {
                this.querySelector("#button02").innerHTML = "£" + v;            
                this.querySelector("#button02").value = v; 
              }
            },
            donationAmount03: {
              type: "number",
              description: "Stretch goal suggested donation amount",
              postset: function (v) {
                this.querySelector("#button03").innerHTML = "£" + v;            
                this.querySelector("#button03").value = v; 
              }
            },
          },
          listeners: {
          },
          friends: [""],
          thumbnail: "<img src="{{ASSET_HOST}}/assets/images/thumbnails/app-number-checker.png" />",
          description: "Checks if an incoming number meets a certain criteria.",
          tags: ["justgiving-donate.html"]
        });
      },
      
    });
  </script>
</polymer-element>