<polymer-element>
  <template>
    <style>
      .openBadgesBanner
      {
      	text-align: center;
      }
      
      
      .openBadgesButton
      {
        font-family: "FiraSans", sans-serif;
        cursor: pointer;
        position: relative;
        text-decoration: none;
        outline: none;
        border-top: 1px solid rgba(255,255,255,.3);
        border-bottom: 2px solid rgba(0,0,0,.2);
        background-color: #40464f;
        text-align: center;
        display: block;
        padding-top: 5px;
        padding-bottom: 3px;
        text-overflow: ellipsis;
        overflow: hidden;
        border-radius: 0.2rem;
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 3.8rem;
        color: #ffffff;
        padding-right: 20px;
        padding-left: 20px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }
      
      .openBadgesBanner button
      {
      	border: none;
      }
    </style>
    <div class="openBadgesBanner">
      <img src="{{ASSET_HOST}}/assets/images/thumbnails/app-open-badges.png"
      class="openBadgesImage" />
      <button class="openBadgesButton">Claim Badge</button>
    </div>
  </template>
  <script>
    Polymer("open-badges", {
      ready: function () {
        this.ceci({
          broadcasts: ["badgeClaimed"],
          defaultBroadcasts: ["badgeClaimed"],
          defaultListeners: ["updateIssuingPhone"],
          editable: {
            openBadgeClaimMessage: {
              type: "text",
              description: "The message",
              postset: function (v) {
                this.claimMessage = v;
              }
            },
            openBadgeClaimUrl: {
              type: "text",
              description: "The Open Badge claim url",
              postset: function (v) {
                this.claimUrl = v;
              }
            },
            openBadgeDefaultClaimCode: {
              type: "text",
              description: "The Open Badge default claim code",
              postset: function (v) {
                this.claimCode;
              }
            },
          },
          listeners: {
            updateIssuingEmail: function (obj, myChannel)
              {
                this.lookAtMe();
                this.issuingEmail = obj.toString();
                this.claimButton.disabled = false;
              }
            updateIssuingPhone: function (obj, myChannel)
              {
                this.lookAtMe();
                this.issuingPhone = obj.toString();
                this.claimButton.disabled = false;
              }
            updateClaimCode: function (obj, myChannel)
              {
                this.lookAtMe();
                this.claimCode = obj.toString();
                this.claimButton.disabled = false;
              }
            updateIssuing: function (objOpenBadges, myChannel)
              {
                this.lookAtMe();
                this.issuingEmail = objOpenBadges.email;
                this.issuingPhone = objOpenBadges.phone;
                this.claimCode    = objOpenBadges.code;
                this.claimButton.disabled = false;
              }
          },
          friends: ["app-twilio"],
          thumbnail: "<img src="{{ASSET_HOST}}/assets/images/thumbnails/app-open-badges.png" />",
          description: "Open Badges Issuer",
          tags: ["open-badges.html"]
        });
      },
      
    });
  </script>
</polymer-element>