<polymer-element>
  <template>
    <style>
      app-popcorn-maker {
        height: 330px;
        width: 100%;
      }
      
      app-popcorn-maker iframe {
        height: 100%;
        width: 100%;
        border: 0;
      }
    </style>
    <iframe class="popcorn-iframe" frameborder="0" mozallowfullscreen=""
    webkitallowfullscreen="" allowfullscreen=""></iframe>
  </template>
  <script>
    Polymer("popcorn-maker", {
      ready: function () {
        this.ceci({
          broadcasts: ["ready","play","pause","event","time"],
          defaultBroadcasts: ["event"],
          defaultListeners: ["play"],
          editable: {
            PopcornMakeUrl: {
              type: "text",
              description: "Popcorn Maker project URL (makes.org) to embed.",
              postset: function (v) {
                this.setProject(v);
              }
            },
          },
          listeners: {
            play: function (v) {
              this.querySelector('iframe').contentWindow &&
                this.querySelector('iframe').contentWindow.postMessage({ type: 'play' }, this.querySelector('iframe').src);
            }
            pause: function (v) {
              this.querySelector('iframe').contentWindow &&
                this.querySelector('iframe').contentWindow.postMessage({ type: 'pause' }, this.querySelector('iframe').src);
            }
            rewind: function (v) {
              this.querySelector('iframe').contentWindow &&
                this.querySelector('iframe').contentWindow.postMessage({ type: 'currentTime', currentTime: 0 }, this.querySelector('iframe').src);
            }
            time: function (v) {
              this.querySelector('iframe').contentWindow &&
                this.querySelector('iframe').contentWindow.postMessage({ type: 'currentTime', currentTime: Number(v) }, this.querySelector('iframe').src);
            }
          },
          friends: ["app-button","app-counter"],
          thumbnail: "<img src="{{ASSET_HOST}}/assets/images/thumbnails/app-popcorn-maker.png" />",
          description: "Embeds a <a href="//popcorn.webmaker.org">Popcorn Maker</a> project.",
          tags: ["video"]
        });
      },
      
    });
  </script>
</polymer-element>