<polymer-element>
  <template>
    <style></style>
    <!-- TODO: Get our own CSS file. -->
    <div class="sampler">
      <div id="audio-control-wrapper"></div>
      <button id="record-button" onclick="toggleRecording(this)" type="button">Record</button>
      <button id="send-button" type="button">Send</button>
    </div>
  </template>
  <script type="text/ceci">
    Polymer("sampler", {
      ready: function () {
        this.ceci({
          broadcasts: ["sampler"],
          defaultBroadcasts: undefined,
          defaultListeners: [],
          editable: {
          },
          listeners: {
          },
          friends: [""],
          thumbnail: "<!-- TODO: Get our own picture. -->    <img src="{{ASSET_HOST}}/assets/images/thumbnails/app-button.png" />",
          description: "Samples sound from your device.",
          tags: ["sampler.html"]
        });
      },
      
    });
  </script>
</polymer-element>