<polymer-element>
  <template>
    <style></style>
    <style>
      app-simple-image {
        text-align: center;
      }
    </style>
    <img src="" />
  </template>
  <script>
    Polymer("simple-image", {
      ready: function () {
        this.ceci({
          broadcasts: ["sendSrc"],
          defaultBroadcasts: undefined,
          defaultListeners: ["updateImage"],
          editable: {
          },
          listeners: {
            updateImage: function (value, channel) {
              this.setImage(value, channel);
            }
          },
          friends: ["app-image-gallery","app-shutter"],
          thumbnail: "<img src="{{ASSET_HOST}}/assets/images/thumbnails/app-component-template.png" />",
          description: "Shows a simple image.",
          tags: ["simple-image.html"]
        });
      },
      
    });
  </script>
</polymer-element>