<polymer-element>
  <template>
    <style>
      app-spacer .spacer {
      
      }
    </style>
    <style type="text/css">
</style>
    <div class="spacer"></div>
  </template>
  <script>
    Polymer("spacer", {
      ready: function () {
        this.ceci({
          broadcasts: [],
          defaultBroadcasts: undefined,
          defaultListeners: [],
          editable: {
            height: {
              type: "number",
              description: "The height of the spacer.",
              postset: function (v) {
                this.querySelector(".spacer").style.height = v + "px";
              }
            },
          },
          listeners: {
          },
          friends: [""],
          thumbnail: "<img src="{{ASSET_HOST}}/assets/images/thumbnails/app-spacer.png" />",
          description: "A spacer to put between components.",
          tags: ["layout"]
        });
      },
      
    });
  </script>
</polymer-element>