<element name="app-storage-box">
  <template>
    <style>
      app-storage-box {
        background: #333;
      }

      app-storage-box h1 {
        padding: 0 0 .5rem 0;
        font-size: 16px; font-size: 1.6rem;
        text-align: left;
        font-weight: 400;
        padding: 0;
        position: relative;
        background: #222;
        padding-right: 1.5rem;
        padding: 1.5rem;
        color: #DDD;
      }

      app-storage-box .item-count {
        float: right;
        color: #ddd;
      }

      app-storage-box h1 .folder-name {
        display: inline-block;
        margin: 0px;
        color: #DDD;
      }

      app-storage-box .item-count {
        margin-bottom: 10px;
        color: #888;
        float: right;
      }

      app-storage-box .data-view-toggle {
        margin-bottom: 13px;
      }

      app-storage-box .data-view-toggle a {
        color: #555;
        padding: 5px 0 6px 0;
        font-size: 13px;
        display: inline-block;
        width: 50%;
        text-align: center;
        background-image: -webkit-linear-gradient(white,#ddd);
      }

      app-storage-box .data-view-toggle a.selected-item {
        background: #777;
        color: white;
        box-shadow: inset 0px 0px 10px rgba(0,0,0,.2);
        background: -webkit-linear-gradient(#666,#777);
      }

      app-storage-box .data-view-toggle a:first-child {
        border-radius: 4px 0 0 4px;
      }

      app-storage-box .data-view-toggle a:last-child {
        border-radius: 0 4px 4px 0;
      }

      app-storage-box .folder-content-wrapper {
        padding: 1rem 1.5rem 1.5rem 1.5rem;
      }

      app-storage-box .data-item {
        position: relative;
        cursor: pointer;
      }

      app-storage-box table {
        background: white;
        width: 100%;
        border-top: solid 1px #DDD;
        border-bottom: solid 1px #BBB;
        border-left: solid 1px #DDD;
        table-layout: fixed;
      }

      app-storage-box .data-item {
        margin-bottom: 12px;
      }

      app-storage-box td.key-name {
        text-overflow: ellipsis;
        width: 75px;
      }
      app-storage-box td.value {
        text-overflow: ellipsis;
        overflow: hidden;
      }



      app-storage-box .data-item:last-child {
        margin-bottom: 0px;
      }

      app-storage-box .all table td {
        position: relative;
      }

      app-storage-box td.key-name {
        font-weight: bold;
      }

      app-storage-box table td {
        border-right: solid 1px #CCC;
        border-bottom: solid 1px #CCC;
        padding: 5px;
        color: #666;
        font-size: 1.3rem;
      }

      app-storage-box ul, app-data-list ul, app-storage-box ol, app-data-list ol {
        margin: 0;
        list-style-type: none;
        padding: 0;
        display: block;
      }

      app-storage-box li, app-data-list li {
        font-size: 12px; font-size: 1.2rem;
        font-family: "FiraSans", sans-serif;
        border: solid .1rem #d9d9d9;
        padding: 1rem;
        background: white;
        margin-bottom: .5rem;
      }



      app-storage-box .all,
      app-storage-box .stats {
        display: none;
      }

      app-storage-box .show-all .all {
        display: block;
      }

      app-storage-box .show-stats .stats {
        display: block;
      }

      app-storage-box .emit-wrapper {
        background: #776531;
        padding: 1rem;
      }

      app-storage-box .emit-wrapper a {
        color: white;
        border-radius: 3px;
        font-size: 13px;
        display: inline-block;
      }

      app-storage-box .emit-wrapper label {
        display: block;
      }

      app-storage-box .delete-item {
        color: white;
        font-weight: bold;
        background: #333;
        border: solid 2px white;
        position: absolute;
        top: -7px;
        right: -10px;
        padding: 1px 6px;
        border-radius: 25px;
        cursor: pointer;
      }
    </style>

    <h1>
      <span class="folder-name">Storage Box</span>
    </h1>
    <div class="folder-content-wrapper">
    <div class="data-items"></div>
  </template>
  <description>
    Stores incoming data that you send it.
  </description>
  <tags>data,storage,form</tags>
  <thumbnail>
    <img src="{{ASSET_HOST}}/assets/images/thumbnails/app-storage-box.png" />
  </thumbnail>
  <script type="text/ceci">
    var element = this;
    require(['https://cdn.firebase.com/v0/firebase.js'], function() {

      function Editable(value, name) {
        this.value = value;
        this.name = name;
        this.editor = editor;
      }

      Editable.prototype.toString = function() {
        return this.value;
      }

      Ceci(element, {
        init: function (params) {
          this.itemCount = 0;
          this.setAttribute('backgroundColor', this.getAttribute('backgroundColor') || '#333');
          this.setAttribute('boxName', this.getAttribute('boxName') || 'Storage Box');
          this.emitonadd = this.getAttribute('emitOnAdd') || false;
          this.emitonload = this.getAttribute('emitOnLoad') || false;
          params = params ? params : {};
          var appId = params.appId || "app123";
          var io = new Firebase("https://flathead.firebaseio.com/" + appId + "/storage-box");

          var t = this;
          t.aggregate = {};

          //Emits the selected statistic
          $(this).find(".emit-stats .emit-data").on("click",function(){
            var data = $(this).closest("div").find("select").val();
            t.broadcast('sendData', data.val()["value"]);
            return false;
          });

          t.io = io;

          // Emits all items based on selected keys
          $(this).find(".emit-items .emit-data").on("click", function() {
            var checkedItems = $(t).find(".emit-wrapper input:checked");
            var getItems = [];
            checkedItems.each(function(){
              getItems.push($(this).val());
            });

            var emit = [];

            io.on('value', function(snapshot) {
              for ( var i in snapshot.val()){
                var item = JSON.parse(snapshot.val()[i]["value"]);

                var emitItem = {};
                for (var j in item){
                  var name = item[j]["name"];
                  var value = item[j]["value"];
                  if(getItems.indexOf(name) > -1){
                    emitItem[name] =  value ;
                  }

                }
                emit.push(emitItem);
              }
            });

            t.broadcast('sendData', emit);
            return false;
          });

          // This builds out the items in the list
          var addItem = function(data, name){

            try {
              var item = document.createElement("div");
              item.setAttribute("class","data-item")
              var table = document.createElement('table');
              table.setAttribute("cellspacing","0");
              table.setAttribute("cellpadding","0");

              //If data doesn't parse as an object, add it as a string instead
              try {
                var obj = JSON.parse(data.value);
              } catch(e) {
                var obj = data.value;
              }

              if(typeof obj == "object") {
                for (var key in obj){
                  var row = document.createElement('tr');
                  row.innerHTML = "<td class='key-name'>" + obj[key]["name"] + "</td><td class='value'>" + obj[key]["value"] + "</td>";
                  table.appendChild(row);
                }
              } else {
                var row = document.createElement('tr');
                row.innerHTML = "<td>"  + obj + "</td>";
                table.appendChild(row);
              }

              item.setAttribute('firebasename', name);

              //Broadcast the data for this item
              $(item).on('click', function(evt) {
                var elt = evt.currentTarget
                var fireId = elt.getAttribute('firebasename');
                var fireElt = t.io.child(fireId);
                fireElt.once('value', function(snapshot) {
                  t.broadcast('sendData', snapshot);
                });
              });

              item.appendChild(table);
              t.querySelector('.data-items').appendChild(item);

              var deleteMe = document.createElement('div');
              deleteMe.innerHTML = "X";
              deleteMe.setAttribute("class","delete-item");

              $(item).append(deleteMe);

              $(deleteMe).on('click', function(evt) {
                var dataItem = $(this).closest(".data-item");
                var fireId = dataItem.attr('firebasename');
                var fireElt = t.io.child(fireId);
                dataItem.remove();
                fireElt.remove();
              }); // End adding an item

            } catch (e) {
              console.log(e);
            }
          };

          this.io.on('value', function(snapshot) {

          });

          this.io.on('child_added', function(snapshot) {
            addItem(snapshot.val(), snapshot.name());
          });

        },
        sortByCreatedAt: function(a, b) {
          return a.createdAt > b.createdAt;
        },
        resetList : function() {
          this.querySelector('.data-items').innerHTML = "";
        },
        setBackgroundColor : function(v){
          this.style.backgroundColor =  v;
        },
        addAnItem : function(v){
          var t = this;
          console.log(v);
          //Rudimentary check for a value type
          if(v){
            this.io.push({value: v.toString()});
            if(this.emitonadd){
              this.broadcast('itemAdded', v.toString());
            }
          }
        },
        defaultListener: 'addItem',
        broadcasts: ['sendData', 'itemAdded'],
        listeners: {
          addItem: function (v) {
            this.addAnItem(v);
          },
          clearList: function (v, channel) {
            this.log("clearing list", channel);
            this.io.remove();
            this.resetList();
          },
        },
        setTitle : function(v){
          this.querySelector(".folder-name").innerHTML = v;
          console.log(v);
        },
        editable: {
          boxName: {
            type: "text",
            description: "A title for your stored items",
            postset: function(v) {
              this.setTitle(v);
            }
          },
          emitOnAdd: {
            type: "boolean",
            description: "Emit the newest item when it is added.",
            postset: function(v) {
              this.emitonadd = v == "true";
            }
          },
          emitOnLoad: {
            type: "boolean",
            description: "Emit a value when the app first loads.",
            postset: function(v) {
              this.emitonload = v == "true";
            }
          },
          backgroundColor: {
            type: "text",
            description: "Background color",
            postset : function(v) {
              this.setBackgroundColor(v);
            }
          }
        }
      });
      callback();
    });
  </script>
</element>
