<polymer-element>
  <template>
    <style>
      @import url("../style/fonts.css");
      
      app-text {
        padding: .5rem 1.5rem;
      }
      
      app-text p {
        overflow: hidden;
        padding: 0;
        margin: 0;
        font-size: 1.8rem;
        font-family: "FiraSans", sans-serif;
        font-weight: 500;
        line-height: auto;
      }
    </style>
    <p></p>
  </template>
  <script>
    Polymer("textbox", {
      ready: function () {
        this.ceci({
          broadcasts: [],
          defaultBroadcasts: undefined,
          defaultListeners: [],
          editable: {
            text: {
              type: "text",
              description: "A text for your label to show up in your app",
              postset: function (v) {
                this.setValue(v);
              }
            },
          },
          listeners: {
            setValue: function (val) {
              this.querySelector('p').innerHTML = val.toString();
            }
          },
          friends: [""],
          thumbnail: "<img src="{{ASSET_HOST}}/assets/images/thumbnails/app-textbox.png" />",
          description: "Listen for a message and updates text",
          tags: ["input","text","form"]
        });
      },
      
    });
  </script>
</polymer-element>