<polymer-element>
  <template>
    <style>
      app-timer {
      
      }
      
      app-timer .timer {
        padding: .7rem 0rem;
        background: black;
        color: #BBB;
        text-align: center;
        font-size: font-size: 1.6rem;
        background: -webkit-linear-gradient(top, black, #555);
        border-bottom: solid 2px black;
      }
      
      app-timer .current-time {
        font-size: 2.5rem;
      }
    </style>
    <div class="timer">
      <div class="current-time"></div>
    </div>
  </template>
  <script>
    Polymer("timer", {
      ready: function () {
        this.ceci({
          broadcasts: ["timerFinished","currentTime"],
          defaultBroadcasts: ["timerFinished"],
          defaultListeners: ["start"],
          editable: {
          },
          listeners: {
            setTimer: function (listener, channel){
              this.mode = "down";
              this.mS = 1000 * parseInt(listener) || 10000;
              this.startTheTimer();
            }
            broadcastTime: function (listener,channel) {
              this.broadcastCurrentTime();
            }
            stop: function (listener,channel) {
              this.stopTheTimer();
            }
            start: function (listener,channel) {
              this.startTheTimer();
            }
            reset: function (value, channel) {
              this.resetTheTimer();
            }
          },
          friends: [""],
          thumbnail: "<img src="{{ASSET_HOST}}/assets/images/thumbnails/app-timer.png" />",
          description: "You start, stop and reset the time and also set a countdown timer.",
          tags: ["time"]
        });
      },
      
    });
  </script>
</polymer-element>