<polymer-element>
  <template>
    <style>
      .twilioBanner
      {
      	padding: 8px 0px 8px 0px;
      }
      
      .twilioBanner img
      {
      	clear: both;
      	height: 14px;
      	float: left;
      	padding-top: 2px;
      	padding-right: 4px;
      }
    </style>
    <div class="twilioBanner">
      <img src="{{ASSET_HOST}}/assets/images/thumbnails/app-twilio.png" />
      <div>SMS powered by Twilio</div>
    </div>
  </template>
  <script>
    Polymer("twilio", {
      ready: function () {
        this.ceci({
          broadcasts: [],
          defaultBroadcasts: undefined,
          defaultListeners: ["updateMessageAndSend"],
          editable: {
            accountSid: {
              type: "text",
              description: "The Account SID information",
              postset: function (v) {}
            },
            accountToken: {
              type: "text",
              description: "The Account TOKEN information",
              postset: function (v) {}
            },
            from: {
              type: "text",
              description: "The from phone number",
              postset: function (v) {}
            },
            defaultMessage: {
              type: "text",
              description: "The twilio SMS message",
              postset: function (v) {}
            },
          },
          listeners: {
            updateMessage: function (objValue, myChannel)
              {
                 this.lookAtMe();
               this.message = objValue.toString();
              }
            updateTo: function (objValue, myChannel)
              {
                this.lookAtMe();
                this.phone   = objValue.toString();
              }
            updateMessageAndSend: function (objTwilio, myChannel)
              {
                this.lookAtMe();
                this.phone   = objTwilio.phone;
                this.message = objTwilio.message;
                this.send();
              }
            send: function () 
              {
                $.post("/proxy/twilio/", {
                 dataType:'json',
               TWILIO_ACCOUNT_SID:this.getAttribute('accountSid'),
               TWILIO_AUTH_TOKEN:this.getAttribute('accountToken'),
               to:this.phone,
               from:this.getAttribute('from'),
               body:this.message          		
              },
                function(data)
                {
          //            console.log(data);
                });
              }
          },
          friends: ["app-open-badges"],
          thumbnail: "<img src="{{ASSET_HOST}}/assets/images/thumbnails/app-twilio.png" />",
          description: "Send SMS using a Twilio Account",
          tags: ["twilio.html"]
        });
      },
      
    });
  </script>
</polymer-element>